<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="w-full h-screen bg-zinc-900 text-white p-10">
    <h2 class="text-2xl font-bold mb-5">Login Your Account</h2>
    <form action="/login" method="POST" class="flex flex-col gap-4 w-80">
        <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="email" name="email" placeholder="Email" required>

        <input class="px-3 py-2 rounded-md bg-transparent border-2 border-zinc-800 outline-none" type="password" name="password" placeholder="Password" required>

        <button class="px-5 py-2 rounded-md bg-blue-500 cursor-pointer text-white font-medium" type="submit">Login</button>

        <button onclick="window.location.href='/sign'"position-center relative top-5 left-10 px-5 py-2 rounded-md bg-blue-500 cursor-pointer text-white font-medium type="button" >First Time Here?</button> 
    </body>
    </form>
</body>
</html>